$yellow_bg: #ffd50065 ;
$orange_bg: #FF6B00 ; 

$blue: #0075CA;
$nitro: #2BAAFF;
$green: #5BB723;
$yellow: #F8B300;
$red: #FF0000; 

$white: #ffffff ;
$lite_grey_bg: #F5F5F5 ; 
$grey_bg: #D9D9D9 ; 
$dark_grey_bg: #8C9091 ; 


$max_whide: 1712px ;
$min_whide: 374px ;

// переменные для медиа запросов


$screen-min: 321px;
$screen-mobile: 481px;
$screen-tablet: 621px;
$screen-small: 801px;
$screen-medium: 1025px;
$screen-large: 1201px;
$screen-base: 1401px;

$screen-other: 1601px;
$screen-max: 1712px;
$screen-extra: 1760px;

